
<section>
 <div class="centro">
    <h2>Datos de Usuario</h2>
     <form [formGroup]="form" (ngSubmit)="modificarUsuario($event)" > 
    <!-- div>div+img+input -->
     <div>
         <div>Avatar</div>
         <img class="imagen" [src]="usuario.devuelveImagen">
         <input type="file" class="cajas"  (change)="uploadfile($event)">
     </div>
     <div>
         <div>Nombre</div>
         <input type="text" name="" id="" class="cajas" formControlName="nombre" >
     </div>
     <div>
        <div>Email</div>
        <input type="email" name="" id="" class="cajas"formControlName="email" >
    </div>
    <div>
        <div>Password</div>
        <input type="password" name="" id="" class="cajas">
    </div>
    <div>
        <div>Validar Password</div>
        <input type="password" name="" id="" class="cajas">
    </div>
    <div class="botones">
        <button type="submit">Modificar Cuenta</button>
    </div>
     </form> 
 </div>
</section>
